body,html{
    margin: 0;
    padding: 0；
}
*{
    box-sizing: border-box;
}
table{
    border-spacing: 0;
}
.table table{
    width: 100%;
}
.table .list-title{
    background-color: gray;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    height: 64px;
    padding-left: 20px;
    line-height: 65px;
    /* width: 100%; */
}
.table table tbody td.t-title{
    background-color: #ccc;
    width: 100px;
    text-align: center;
    border-bottom: 1px solid #fff;
    
}
.table table tbody td.t-body{
    border-bottom: 1px solid #ccc;
}
.t-content{
    min-height: 100px;
    padding: 0 15px;
}
.t-content .list{
    display: inline-block;
    margin-right: 40px;
}